<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>Coupon: </h3>
    <label> Coupon code: </label>
    <h1><%= @coupon.coupon_code %></h1>

    <label> For: </label>
    <h1><%= @coupon.store %></h1>
  </body>
</html>
